{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="mx-5">
        <div class="col-12">
            <h1>Profile page</h1>
                <img class="profile-pic" src="{{ user.profile_picture.url }}" alt="{{ users.username }}">
            {% if follow_count %}
                <p>Followers: {{ user.follow_count }}</p>
            {% else %}
                <p>Followers: 0</p>
            {% endif %}
            <p>Username: {{ user.username }}</p>
            <p>First_name: {{ user.first_name }}</p>
            <p>Last_name: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
                        {% if request.user.is_authenticated %}
                {% if user != request.user %}
                    {% if is_following %}
                        <form action="{% url 'users:unfollow_user' user.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Unfollow</button>
                        </form>
                    {% else %}
                        <form action="{% url 'users:follow_user' user.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" >Follow</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}