<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
</head>
<body>

<h1>Ro'yhatdan o'tish oynasi</h1>

<form method="post", action="{% url 'register' %}">  {% csrf_token %}
    {{ form.as_p }}

<!--<form method="post", action="{% url 'register' %}">  {% csrf_token %}-->
<!--    <label for="username">username:</label>-->
<!--    <input id="username"  type="text" name="username"><br><br>-->

<!--    <label for="first_name">first name:</label>-->
<!--    <input id="first_name"  type="text" name="first_name"><br><br>-->

<!--    <label for="last_name">last name:</label>-->
<!--    <input id="last_name"  type="text" name="last_name"><br><br>-->

<!--    <label for="email">email:</label>-->
<!--    <input id="email"  type="email" name="email"><br><br>-->

<!--    <label for="password">password:</label>-->
<!--    <input id="password"  type="password" name="password"><br><br>-->

    <button type="submit"> yuborish </button><br><br>

</form>

</body>
</html>